    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Lobster+Two|Lobster' rel='stylesheet' type='text/css'/>


        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">

        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </head>

    <body>
        <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="brand" href="./dashboard.html">GreenAct</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
    
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
        </nav>
        <div class="container">

            <div class="jumbotron block header">

                <h1> Nettoyage Valtech </h1>

            </div>
            <div class=" block">
                <h2>Description</h2> 
                <p> Après 2 jours de Hackaton, Les locaux de Valtech sont souillés. Nous avons besoin de ton aide pour rendre au lieu toute sa splendeur</p>
            </div>

            <div class="block">
                <h2>Participants</h2> 
                <div>
                    <a href="profil/1.html"><img src="../images/profil/1.jpg" class="img-circle profil"/></a>
                    <a href="profil/2.html"><img src="../images/profil/2.jpg" class="img-circle profil"/></a>
                    <a href="profil/3.html"><img src="../images/profil/3.jpg" class="img-circle profil"/></a>
                    <a href="profil/4.html"><img src="../images/profil/4.jpg" class="img-circle profil"/></a>
                    <a href="profil/5.html"><img src="../images/profil/5.jpg" class="img-circle profil"/></a>
                </div>
            </div>
            <div class="block">
                <h2>Localisation</h2> 
                <div id="localisation">
                    <iframe height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJc-ZeCpw5kcR0VnrlkYCkFw&key=AIzaSyA4SvPJRurY8MmFc3_bsaJ_TaygcICzAeE" allowfullscreen></iframe>
                </div>
            </div>
        </div>



    </body>
    </html> 
