 <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../lib/bootstrap-social-gh-pages/bootstrap-social.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="styles.css" />
<link href='https://fonts.googleapis.com/css?family=Lobster+Two|Lobster' rel='stylesheet' type='text/css'>    <script src="../js/user.js" />
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" />
    <script>
      var google = new firebase.auth.GoogleAuthProvider();
      var facebook = new firebase.auth.GoogleAuthProvider();
      var twitter = new firebase.auth.GoogleAuthProvider();
    </script>
  </head>

  <body class="home">
    <div class="middlePage">
      <div class="page-header">
        <h1 class="logo">GreenAct</h1>
        <h2 class="slogan"><small><em>Don't waste your time, Act</em></small></h2>
      </div>

    <div class="panel panel-info" id="panel">
      <div class="panel-heading"id="signin">
        <h3 class="panel-title"><b>Please Sign In</b></h3>
      </div>
      <div class="panel-body">
    
      <div class="row">
    
      <div class="col-md-5" >
        <a class="btn btn-block btn-social btn-facebook" href="./dashboard.html">
          <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>
        <a class="btn btn-block btn-social btn-google" href="./dashboard.html">
          <span class="fa fa-google"></span> Sign in with Google
        </a>
        <a class="btn btn-block btn-social btn-twitter" href="./dashboard.html">
          <span class="fa fa-twitter"></span> Sign in with Twitter
        </a>
      </div>

      <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
        <form class="form-horizontal">
          <fieldset>

            <input id="username" name="textinput" type="text" placeholder="Enter User Name" class="form-control input-md"><br/>
            <input id="password" name="textinput" type="text" placeholder="Enter Password" class="form-control input-md">
            <div class="spacing"><a href="#"><small> Forgot Password?</small></a></div>

           <a href="./inscription.html"<button id="signup" name="singlebutton" class="btn btn-info btn-sm">Sign Up</button></a>
           <a href="./dashboard.html"  <button id="singin" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign In</button></a>


          </fieldset>
        </form>
      </div>
    </div>
  </div>
    </div>

    </div>


    <script>

  </script>
  </body>
</html>